---
layout: default
---

<div id="wrapper">
  <header id="header">
    <h1>
      <a href="index.html">
        <strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}
      </a>
    </h1>
    <nav>
      <ul>
        {% for gallery in site.galleries %}
        <li>
          <a
            href="?folder={{ gallery.folderName | uri_escape }}"
            class="tab-link active"
            >{{ gallery.title }}</a
          >
        </li>
        {% endfor %}
        <li><a href="#footer">About <i class="fa fa-info-circle"></i></a></li>
      </ul>
    </nav>
  </header>

  <!-- Main -->
  <div id="main" data-exif='{{ site.exif }}'>
    {% for image in site.static_files %}
    {% if image.path contains '/fulls/' %}
      {% assign folder_name = image.path | remove: '/images/fulls/' | split: '/' | first %}
      <article class="thumb" data-folder="{{ folder_name }}">
          <a href="{{ site.baseurl }}{{ image.path }}" class="image">
          <img
              src="{{ site.baseurl }}{{ image.path }}"
              alt="{{ image.name }}"
              data-name="{{ image.name}}"
          />
          </a>
      </article>
      {% endif %}
    {% endfor %}
  </div>

  <footer id="footer" class="panel">
    <div class="inner split">
      <div>
        <section>
          <h2>{{ site.footer.name }}</h2>
          <p>{{ site.footer.bio }}</p>
        </section>
      </div>
    </div>
  </footer>
</div>

<script>
  const params = new URLSearchParams(window.location.search);
  let folderName = params.get("folder");
  // default to first tab if no folder specified
  if (!folderName) {
    const firstTab = document.getElementsByClassName("tab-link")[0]
    folderName = firstTab
      ? decodeURIComponent(firstTab.getAttribute("href").split("folder=")[1])
      : "";

    elements = document.querySelectorAll(".tab-link")
    for (let i = 0; i < elements.length; i++ ){
      if (i == 0) {
        elements[i].classList.add("active");
        console.log(elements[i].classList)
      } {
        elements[i].classList.remove("active");
      }
    }
  } else {
    // highlight active tab
    document.querySelectorAll(".tab-link").forEach(link => {
        const linkFolder = decodeURIComponent(link.getAttribute("href").split("folder=")[1] || "");
        if (linkFolder === folderName) link.classList.add("active");
        else link.classList.remove("active");
    });
  }


  // filter images
  document.querySelectorAll("#main article").forEach(article => {
    const folder = article.dataset.folder;
    if (!folderName || folder === folderName) article.style.display = "block";
    else article.style.display = "none";
  });
</script>
